extends layout

block content
  div.main-container
    h1= title
    a(class='button' href='/new') Add Your Message
    div.messages-container 
      each message in messages
        div.message-card 
          div.quote
            h3!= '"'+ message.text + '"' 
            p!= '— ' + message.user 
          div.time  
            p= message.added
