@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body { 
  font-family: 'Libre Franklin', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.button {
  width: 160px;
  padding: 8px;
  border-radius: 5px;
  background-color: black;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  transform: scale(102%);
}



button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input,
textarea {
  width: 300px;
  padding: 0;
  margin: 0;
}


.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.message-card {
  width: 400px;
  min-height: 200px;
  border-radius: 25px;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.quote {
  width: 100%;
  padding-top: 5%;
}

.quote > p {
  text-align: right;
  padding-right: 20px;
}

.time {
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 0 0 25px 25px;
  font-weight: 100;
  font-style: italic; 
}

form {
  padding: 1em;
  min-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



input, textarea {
  border: 0.5px solid black;
  padding: 0 10px;
  margin: 0;
  background: none;
}

input:focus,
textarea:focus {
  background: rgba(101, 101, 101, 0.1);
  border-radius: 5px;
}

textarea {

}

.form-group {
  border: 1x solid green;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

footer {
  width: 100%;
  padding-top: 20px;
  text-align: center;
}

footer > p {
  font-size: 0.6rem;
}